/* Cor de fundo do main*/
main {
    background-color: rgba(0, 35, 85, 1);  
}
/* Seção hero com imagem de fundo e colocando tudo centralizado*/
.seção-hero {
    background-image: url(../imagens/foto.cases.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 32px;
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    justify-content: center;
    align-items: center;
}
/* Cor branca do h1 e deixa ele com um tamanho de fonte específico*/
.seção-hero h1 {
    font-size: 4rem;
    color: white;
}
/* deixa o h3 e h2 no centro e alinhados com uma cor de fundo específica*/
.seção-p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
}
/* Cor do h3*/
.meu-h3 {
    color: rgba(230, 173, 45, 1);
}
/* Cor do h2*/
.meu-h2 {
   color: rgba(255, 255, 255, 1); 
}
/* coloca os itens alinhados no centro em coluna*/
.cases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  gap: 48px;
}

/* deixa o bloco dos cases com uma cor específica e com bordas arrendondadas */
.cases-group {
  width: 95%;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 61px;
  height: 440px;
  padding: 20px;
}

/* tamanho e cor do h2 dos cases. */
.cases-group h2 {
  font-size: 32px;
  margin-bottom: 1rem;
  text-align: left;
  color: #111;
}

/* deixa a linha de cases corretas com um grid de 3 em 3 */
.cases-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  justify-items: center;
}

/* estilo do card com cor de fundo branca, bordas arredondadas e layout em coluna */
.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

/* deixa as imagens na proporção padrão sem que distorça as imagens*/
.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

/* deixa o h3 com margem correta e uma cor específica */
.card h3 {
  margin: 10px 16px 16px;
  color: #111;
}
/* deixa os parágrafos com uma margem correta*/
.card p {
  margin: 8px 16px 16px;
}

/* deixa o botão com uma cor e tamanhos específicos e com borda arrendondada */
.card a {
  margin: 0 16px 16px auto;
  display: inline-grid;
  place-items: center;
  width: 36px;
  height: 36px;;
  border-radius: 999px;
  background: #efefef;
  text-decoration: none;
  color: #111;
}

