.hero {
    background-image: url(../imagens/IBMEC_SAO_PAULO_HERO.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 6rem;
    color: white;
}

.hero h2 {
    font-size: 3rem;
    color: white;
}

.hero a {
    background-color: #1245FF;
    padding: 0.7rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.sobre-section {
    background-color: #002355;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5rem;
    justify-content: space-around;
}

.sobre-section div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sobre-section h2, p {
    color: white;
}

.sobre-section h2 {
    font-size: 4rem;
}

.sobre-section p {
    font-size: 2rem;
}

.sobre-section img{
    width: 50%;
    height: auto;
    border-radius: 30px;
}

.dados-container {
    display: flex;
    flex-direction: column;
    background-color: #E6AD2D;
    align-items: center;
    min-height: 50vh;
}

.dados-container h2 {
    font-size: 3.5rem;
    padding: 1rem;
}

.dados-container div {
    display: flex;
    flex-direction: row;
    background-color: #E6AD2D;
    justify-content: space-between;
}

.dados-container div div {
    background-color: white;
    margin: 2rem;
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.dados-container div div p {
    color: black;
    font-size: 2rem;
}